html, body {
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #050514; /* Dunkles Space-Blau/Schwarz statt Hellblau */
  height: 100vh;
  width: 100vw;
  position: fixed; /* Verhindert Wackeln auf dem iPhone */
}

canvas {
  display: block;
}

button {
  user-select: none;
  -webkit-touch-callout: none;
}
