html, body {
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: rgb(40, 150, 255);
  height: 100vh;
  width: 100vw;
  position: fixed; /* Verhindert Wackeln auf dem iPhone */
}

canvas {
  display: block;
}
